td {
  border-bottom: 1px solid #6678b1;
  border-right: 1px solid #9baff1;
  border-left: 1px solid #9baff1;
  color: #669;
  padding: 10px 8px 9px;
  text-align: left;
  width: auto;
}

th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  border-right: 1px solid #9baff1;
  border-left: 1px solid #9baff1;
  padding: 10px 8px;
  text-align: left;
  width: auto;
}

tr:hover td {
  color: #6699ff;
}
